@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Abel&display=swap');

body {
    background-color: #F0F0F0;
    font-family: 'Abel', sans-serif;
    font-weight: 400;
}
header{
    font-family: 'Anton', sans-serif;
    font-weight: 400;
}


.circle{
    height: 5em;
    width: 5em;
}

.small-circle {
    height: 1.25em;
    width: 1.25em;
    font-family: 'Anton', sans-serif;
    font-weight: 400;
}

.anton{
    font-family: 'Anton', sans-serif;
    font-weight: 400;

}
img {
    width: 100%;
    align-self: center;
    /*object-fit: cover;*/
}

.img-border {
    border: .5em solid #e6e6e6;
}

.zoom-in{
    transition: transform .2s;
}
.zoom-in:hover{
    transform: scale(1.2);
}
